<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="service-name" source="spring.application.name"/>
    <springProperty scope="context" name="version" source="info.app.version"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</pattern>
                </timestamp>
                <context/>
                <pattern>
                    <pattern>
                        <omitEmptyFields>true</omitEmptyFields>
                        {
                        "request-tracking": {
                        "correlationId": "%mdc{traceId}",
                        "span_id": "%mdc{spanId}",
                        "parent_span_id": "%mdc{X-B3-ParentSpanId}",
                        "exported": "%mdc{spanExportable}"
                        }
                        }
                    </pattern>
                </pattern>

                <logLevel>
                    <fieldName>severity</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <callerData>
                    <fieldName>log_class_info</fieldName>
                    <classFieldName>log_source_class</classFieldName>
                    <methodFieldName>log_source_method</methodFieldName>
                    <lineFieldName>log_source_line</lineFieldName>
                    <fileFieldName>[ignore]</fileFieldName>
                </callerData>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <arguments>
                    <includeNonStructuredArguments>false</includeNonStructuredArguments>
                </arguments>
                <logstashMarkers/>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                    <pattern>
                        {
                        "logMessage": "%message"
                        }
                    </pattern>
                </pattern>
                <stackHash>
                    <fieldName>exception-hash</fieldName>
                </stackHash>
                <stackTrace>
                    <fieldName>exception</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>

            </providers>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>